.card, .bigcard {
    -webkit-box-shadow: 0px 0px 38px -16px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 38px -16px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 38px -16px rgba(0,0,0,0.48);
    background-color: white;
    position: initial;
}

.card .topic {
    padding-top: 15px;
    color: rgb(121, 121, 121);
    font-size: 12px;
    font-weight: 200;
}

.card .title {
    padding-top: 0px;
    font-size: 36px;
    margin-top: -35px;
}

.card .content {
    font-size: 16px;
    margin-top: -40px;
}

.card .stats {
    font-size: 16px;
    margin-top: -10px;
}

.post {
    width: auto;
    height: auto;
    overflow: hidden;
}

.post .notd {
    text-decoration: none;
}

.post:hover {
    cursor: pointer;
}

.post p {
    padding-left: 15px;
}

.post .thumbnail {
    float: left;
    width: 390px;
    height: inherit;
    margin-right: 15px;
}

.post .bookmark {
    float: right;
}

/* Big Card */
.bigcard .topic {
    padding-top: 60px;
    color: rgb(121, 121, 121);
    font-size: 12px;
    font-weight: 200;
}

.bigcard .title {
    font-size: 36px;
    margin-top: -35px;
}

.bigcard .content {
    font-size: 16px;
    margin-top: -40px;
    padding-left: 15px;
}

.bigcard .stats {
    font-size: 16px;
    margin-top: -10px;
}

.bigpost {
    overflow: hidden;
    width: auto;
    height: auto;
}

.bigpost .notd {
    text-decoration: none;
}

.bigpost:hover {
    cursor: pointer;
}

.bigpost p {
    padding-left: 15px;
}

.bigpost .thumbnail {
    float: left;
    width: 640px;
    height: auto;
    margin-right: 15px;
}

.bigpost .author {
    padding-bottom: 50px;
}