input[type=text], textarea[type=text] {
    padding:5px; 
    border: 1px solid #1FA2FF; 
    -webkit-border-radius: 5px;
    border-radius: 10px;
    font-size: 18px;
}

input[type=text]:focus, textarea[type=text]:focus {
    opacity: 1;
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);   
}

