@import url("./navigation.css");
@import url("./card.css");

body {
    font-family: "Times New Roman", Times, serif;
    background-color: snow;
}

.btn {
    color: black;
    padding: 5px;
    border: 1.5px solid darkgray;
    border-radius: 5px;
    background-color: white;
    /*position: absolute;*/
}

.btn:hover {
    color: black;
    cursor: pointer;
    border: 1.5px solid gray;
}

.break {
    margin-top: -50px;
}